<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<compilation debug="true" targetFramework="4.5" />-->
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true"/>
  </system.web>
  <!--配置企业库数据库链接字符串-->
  <connectionStrings>
    <add name="Connstr" connectionString="server=.;database=DB_dearlizhao;uid=sa;pwd=sqlserver963025" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<system.webServer>
    <handlers>
      <add path="*.html" verb="*" name=""/>
    </handlers>
  </system.webServer>-->
</configuration>