USE [master]
GO
/****** Object:  Database [DB_dearlizhao]    Script Date: 2019/1/10 10:45:25 ******/
CREATE DATABASE [DB_dearlizhao]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_dearlizhao', FILENAME = N'D:\DataBase\DB_dearlizhao.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DB_dearlizhao_log', FILENAME = N'D:\DataBase\DB_dearlizhao_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_dearlizhao].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_dearlizhao]
GO
/****** Object:  Table [dbo].[article]    Script Date: 2019/1/10 10:45:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NULL,
	[important] [nvarchar](200) NULL,
	[date] [nvarchar](50) NULL,
	[type] [nchar](10) NULL,
	[content] [nvarchar](max) NULL,
	[user] [nchar](10) NULL,
	[createdate] [nchar](10) NULL,
 CONSTRAINT [PK_article] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
